<!DOCTYPE html>
<html>
<head>

    <title>Puszek Server Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output="assets/compiled/vendors.css"
            '@angular_material_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets filter='lessphp,cssrewrite' output="assets/compiled/main.css"
            '@PuszekPuszekAdminAdminBundle/Resources/public/css/*.less'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body data-ng-app="puszekApp" data-ng-controller="mainController as main" ng-class="main.getBodyClass()">

    <div layout="column" md-theme="default">
        <md-toolbar class="md-whiteframe-z1 main-header" p-sticky-header>
            <h1 class="md-toolbar-tools">
                <md-button class="md-fab md-fab-flat md-primary" ng-click="main.mainMenuToggle()">
                    <p-icon src="/views/icons/ic_menu_24px.svg"></p-icon>
                </md-button>
                <span ui-view="contentHeader"></span>
            </h1>
            <div id="header-buttons-container">
                <div data-ng-controller="notificationsController as notifs" class="header-button notifications" id="puszek-container" p-include="'/views/notifications/tray.html'" ng-show="notifs.isConnected()"></div>
                <div data-ng-controller="publicChatController as publicChat" class="header-button chat" id="chat-list-container" p-include="'/views/chat/tray.html'" ng-show="User.isLoggedIn() && publicChat.chat.isConnected()"></div>
            </div>
        </md-toolbar>
        <section layout="row" flex>
            <md-sidenav layout="column" role="navigation" class="md-sidenav-left md-whiteframe-z2 main-sidenav"
                        p-include="'/views/commons/mainMenu.html'" is-locked-open="true" ng-click="mainMenu.click()"
                        md-component-id="mainMenu">
            </md-sidenav>
            <div layout="column" flex class="main-view-container">
                <md-content scroll-y flex ui-view="content" ng-click="main.mainMenuClose()" ng-animate="'view'"></md-content>
            </div>
        </section>
    </div>

    <p-http-loader data-template="'/views/commons/loader.html'"></p-http-loader>
    <div id="notification" ng-include="'{{ app.request.basePath }}/views/commons/notification.html'"></div>

    {% block javascripts %}
        {% javascripts output="assets/compiled/main.js"
            '@jquery_js'
            '@underscore_js'
            '@angular_js'
            '@angular_animate_js'
            '@angular_aria_js'
            '@hammerjs_js'
            '@angular_route_js'
            '@angular_ui_router_js'
            '@restangular_js'
            '@angular_material_js'
            '@angular_utils_pagination_js'
            '@puszek_js_client_js'

            '@PuszekPuszekAdminAdminBundle/Resources/public/js/app.js'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/commons/modal/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/commons/directives/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/commons/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/auth/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/crud/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/main/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/mainMenu/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/dashboard/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/clients/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/messages/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/chat/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/notifications/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/puszek/*'
            '@PuszekPuszekAdminAdminBundle/Resources/bower/components/puszek-js-client/dist/puszek-angular-client.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            angular.module('puszekApp').constant('Config', {
                baseUrl: '{{ app.request.baseUrl }}',
                basePath: '{{ app.request.basePath }}'
            });
        </script>
    {% endblock %}
</body>
</html>
